body {
    color: #ae30ba;
    background: #e7c3ea;
    font-family: 'Courier New', Courier, monospace;
    font-size-adjust: 40px;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}

nav a {
    color: #e7c3ea;
    text-decoration: none;
    font-size: 20px;
    background-color: #ae30ba;
    font-weight: bold;
}

div img {
    width: 200px;
    height: 250px;
}

.center {
    text-align: center;
}

h1 {
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: #881692;
    padding: 20px;
}

.title {
    color: #ae30ba;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.phone {
    color: #881692;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    padding: 100px 50px;
}

.email {
    color: #881692;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    padding: 0px 50px;
}

.definition {
    padding: 20px 50px;
    color: #881692
}

.text {
    padding: 20px 50px;
}

.dfn {
    padding: 50px 30px;
}

footer img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

footer a {
    color: none;
    padding: 30px 0px;
}

.ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 5px;
    color: #881692;
}

footer {
    color:#ae30ba;
    background-color: #f194fa;
    padding: 30px;
    max-width: 0px auto;
    display: flex;
}

nav {
    color: #f194fa;
}

.recycling-img {
    width: 300px;
    height: 250px;
}

.right {
    text-align: right;
}

.conteudo {
    display: flex;
}

.none {
    padding: 5;
    color: #c33dcf;
}

.passos {
    color: #881692;
    padding: 25px;
    font-weight: bold;
}

.dscrpt {
    padding: 30px;
}

.socios {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 50%;
}

.ft-socios {
    text-align: center;
    align-items: center;
}

.nms-socios {
    text-align: center;
    align-items: center;
}

.nms-socios p {
    font-size: larger;
    padding: 20px;
    text-align: center;
}

.ft-socios p {
    font-size: xx-large;
}